@import "../../Styles/variables";

.form-wrapper{
  background-color: black;
  width: 100%;
  flex: 1 1 auto;
  padding:3rem;
  display: flex;
  justify-content: center;
}
.form{
    display:grid;
    grid-template-columns: auto auto auto;
    align-content: flex-start;
    column-gap: 1rem;
    row-gap: 2rem;
}

.input-value{
  color: #73e8ae;
  font-size: 16px;
}

@media screen and (max-width: 750px){
  .form-wrapper{
    padding:1rem;
    margin-bottom: 2rem;
  }
}

