* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    min-height: 100vh;
}
