.mode{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.9rem;
    background-image: linear-gradient(to right bottom, rgb(112, 224, 252), rgb(119, 241, 88))
}

.form{
    background-color: black;
    padding: 3rem;
    display:grid;
    grid-template-columns: 1fr 1fr 3rem;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    column-gap: 2rem;
    row-gap: 2rem;
}

.form label, span{
    justify-self: start;
    align-self: center;
}

.form input{
    width: 100%;
}

.selection-info{
    background-color: black;
    font-size: 2.5rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1.5rem;
    display: grid;
    row-gap: 0.5rem;
    margin: 4rem 2rem;
    box-shadow: 3px 3px 3px rgb(51, 109, 119);
}

.selection-info__item{
    border-bottom: 1px solid rgb(112, 224, 252);
}

input[type=range] {
    height: 0px;
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
    align-self: center;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-image: linear-gradient(to right bottom, rgb(112, 224, 252), rgb(119, 241, 88));
    border-radius: 5px;
    border: 0px solid #18D501;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #AAAAAA;
    border: 10px solid #E5E5E5;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1.3rem;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #84C4B7;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-image: linear-gradient(to right bottom, rgb(112, 224, 252), rgb(119, 241, 88));
    border-radius: 5px;
    border: 0px solid #18D501;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #AAAAAA;
    border: 10px solid #E5E5E5;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1.3rem;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #84C4B7;
    border: 0px solid #18D501;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #002200;
  }
  input[type=range]::-ms-fill-upper {
    background: #84C4B7;
    border: 0px solid #18D501;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #002200;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #AAAAAA;
    border: 9px solid #E5E5E5;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #000000;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #84C4B7;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #84C4B7;
  }

  .navbar {
    width: 100%;
    padding: 1.5rem 0 1.5rem 0;
    align-items: center;
    font-size: 1.9rem;
    background-color: black;
    
    &__list{
      list-style: none;
      display: flex;
    }
    &__list-button{
      margin: 0 0.8rem;
      padding: 0.5rem;
      font-weight: 600;
      border-radius: 1rem;
      box-shadow: 0 2rem 5rem rgba(rgb(81, 173, 185), .8);
      cursor: pointer;
      &--active{
        background-image: linear-gradient(to right bottom, rgb(112, 224, 252), rgb(119, 241, 88));
        transform: scale(1.1);
      }
      &:hover{
        transform: translateY(-0.3rem) skewX(-5deg);
        transition: transform 0.1s ease-in;
      }
    }
}