.mode{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.9rem;
    background-image: $basic-gradient;
}







