@import "../../Styles/variables";

.navbar {
  display: flex;
  padding: 1.5rem 1.5rem;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.9rem;
  background-color: $primary-bg;
  gap: 0.3rem;

  @media screen and (min-width: "400px") {
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
  }
  &__list-item {
    &--active {
      border-bottom: 2px solid rgb(112, 224, 252);
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    margin: 0.5rem 1rem;
  }
}
