@import "src/Styles/variables";

.input--error {
  background-color: pink;
}

.error-message {
  color: red;
  font-weight: 600;
  font-size: 1.7rem;
  grid-column: 1/4;
}

label,
span {
  justify-self: start;
  align-self: center;
}

input[type="number"],
select {
  font-size: 1.7rem;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  background-position: calc(100% - 15px) calc(1em + -2px),
    calc(100% - 10px) calc(1em + -2px), 100%;
  background-size: 5px 5px, 5px 5px, 100%;
  background-repeat: no-repeat;
}
