.table {
  background: black;
  font-size: 2rem;
  max-width: 750px;
  font-weight: 800;
  &__row--recommended {
    color: #2ecc71;
  }
  &__row--warning {
    color: red;
  }
  &__row--discouraged {
    color: #e67e22;
  }
}

th,
td {
  border: 1px solid #73e8ae;
  padding: 8px;
}

thead th {
  width: 25%;
}
