.icon-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  &:hover {
    transform: scale(1.2);
  }
}
